kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "kai.fullname" . }}
  labels:
    app: {{ include "kai.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  .kai.yaml: |
    kubeconfig:
      path: use-in-cluster
    output: {{ .Values.kai.output }}
    quiet: {{ .Values.kai.quiet }}
    log:
      structured: {{ .Values.kai.log.structured }}
      level: {{ .Values.kai.log.level }}
      file: {{ .Values.kai.log.file }}
    check-for-app-update: {{ .Values.kai.checkForAppUpdate }}
    namespaces:
      {{- toYaml .Values.kai.namespaces | nindent 6 }}
    mode: {{ .Values.kai.mode }}
    polling-interval-seconds: {{ .Values.kai.pollingIntervalSeconds }}
    anchore:
      url: {{ .Values.kai.anchore.url }}
      user: {{ .Values.kai.anchore.user }}
      password: {{ .Values.kai.anchore.password }}
      http:
        insecure: {{ .Values.kai.anchore.http.insecure }}
        timeoutSeconds: {{ .Values.kai.anchore.http.timeoutSeconds }}
