name: 'Acceptance'
on:
  workflow_dispatch:
  push:
    # ... only act on pushes to main
    branches:
      - main
    # ... do not act on release tags
    tags-ignore:
      - v*

env:
  GO_VERSION: "1.19.x"

jobs:
  Build-Snapshot-Artifacts:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/checkout@v2

      - name: Restore bootstrap cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ${{ github.workspace }}/.tmp
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}-
            ${{ runner.os }}-go-${{ env.GO_VERSION }}-

      - name: Bootstrap dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: make ci-bootstrap

      - name: Build snapshot artifacts
        run: make snapshot

      - uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: snapshot/**/*
  # Note: changing this job name requires making the same update in the .github/workflows/release.yaml pipeline
  Acceptance-Helm:
    needs: [ Build-Snapshot-Artifacts ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Note: if this is changed, a corresponding change needs to be made in .github/workflows/release.yaml pipeline
        kubernetesVersion: [ "v1.13.12", "v1.18.0" ]
    steps:

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: snapshot

      - name: Install kind
        uses: helm/kind-action@v1.2.0
        with:
          config: ./kind-config.yaml

      - name: Run Acceptance Tests (Helm)
        run: make acceptance-helm
